torch==2.1.1
torchvision
torchaudio
pytorch-lightning
open3d
imageio[ffmpeg]
imageio[pyav]
PyMCubes 
einops 
nerfvis 
open_clip_torch
trimesh 
scipy 
pyglet 
matplotlib 
pyrender 
boto3 
rembg
xformers
fire 
safetensors 
lovely-numpy 
rich
easydict
diffusers
omegaconf
kornia
transformers
tensorboard
webdataset
plyfile
invisible-watermark>=0.2.0
clip @ git+https://github.com/openai/CLIP.git
# openai-clip
gradio==4.18.0
accelerate
git+https://github.com/facebookresearch/segment-anything.git
pygltflib==1.16.1
MiniballCpp==0.2.3
xatlas
fast-simplification
git+https://github.com/NVlabs/nvdiffrast.git@c5caf7bdb8a2448acc491a9faa47753972edd380
fpsample
fastapi
asyncio
streamlit
Ninja
